---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> <span class="font-weight-bold">{{ site.middle_name }}</span> <span class="font-weight-bold">{{ site.last_name }}</span>
      {% else %}
        <span class="font-weight-bold">{{ site.title }}</span>
      {% endif %}
    </h1>
    <p class="desc font-weight-bold">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
          {% endif %}
          <img src="{{ profile_image_path }}" class="{{ profile_image_class }}" alt="Profile Image">
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info | markdownify }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

    <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit">news</a></h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if page.latest_posts %}
      <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a></h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit">selected publications</a></h2>
      {% include selected_papers.liquid %}
    {% endif %}

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>
        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}
  </article>
</div>
<hr>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="https://www.humboldt-foundation.de/" target="_blank" rel="noopener noreferrer">
         <img src="{{ site.baseurl }}/assets/img/humboldt_logo.png" alt="Humboldt Foundation" style="width: 150px; margin: 0 10px;">
        </a>
        <a href="https://www.uni-kiel.de/en/" target="_blank" rel="noopener noreferrer">
          <img src="{{ site.baseurl }}/assets/img/uni_kiel_logo.png" alt="University of Kiel" style="width: 150px; margin: 0 10px;">
        </a>
        <a href="https://www.iitm.ac.in/" target="_blank" rel="noopener noreferrer">
          <img src="{{ site.baseurl }}/assets/img/iitm_logo.png" alt="Indian Institute of Technology Madras" style="width: 150px; margin: 0 10px;">
        </a>
        <a href="https://home.iitd.ac.in/" target="_blank" rel="noopener noreferrer">
          <img src="{{ site.baseurl }}/assets/img/iitd_logo.png" alt="Indian Institute of Technology Delhi" style="width: 150px; margin: 0 10px;">
        </a>
      </div>
    </div>
  </div>
</footer>
